img#logo{
    width: 127px;
    height: 70px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
img#mathPic{
    width: 66px;
    height: 200px;
}
div.Tout{
    padding-top: 40px;
}
h5#title{
    text-align: center;
    padding-top: 45px;
    animation: fallingTitle 2s ease-in-out;
}
@keyframes fallingTitle {
    0% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(0%);
    }
}

div.bg{
    background-image: url("CovTuto1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}